<!DOCTYPE html>
<html>
<head>
    <Style>
    body { height:100%;
        background-repeat:no-repeat; background-size: cover; background-image: url('./assets/images/2.jpg');
    }
    h3, h4 { text-align: center;
    color:white; font-size:50px;}
div { text-align:center;background-color: white; font-size:25px; opacity:50% }
a {color: #2C5E61;}
a:hover {color: red;}
</Style>




    <title>Message Submitted</title>
</head>
<body>
    <h3 >{{msg}}! </h3>
    <h4>Please expect our response within 24 hours.</h4>
    <div>
        <a  href="/contact.html"  >Send New Message </a>
    </div>

    <div>
        <a href="/nogil.html"  >Admin: Login to View Message</a>
    </div>

</body>
</html>